[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "~=1.1"
flask-migrate = "==2.5.2"
flask-sqlalchemy = "==2.4.1"
markupsafe = "==2.0.1"
psycopg2 = "==2.8.4"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.8"
